/*33*/
html {
    overflow-y: scroll;
}
/*36*/
body {
    line-height: 1.7em;
    font-size: 14px;
    background-color: #27212c;
}
/*41*/
#body_bg {
  background-attachment: scroll;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  position: relative;
  background-color: #ccc3d4;
  background: url(../img/bg.jpg) 50% 0% no-repeat fixed;
}
/*51*/
.primary-container-background .primary-container {
  background-color: #f0eef3;
  height: 100%;
  position: relative;
  margin: 0 auto;
  -moz-box-shadow: 0 0px 40px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0px 40px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0px 40px rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  width: 1200px;
}
/*62*/
.primary-container-background {
  height: 100%;
  position: absolute;
  width: 100%;
}
/*67*/
.primary-container {
  position: relative;
  height: 100%;
}
/*71*/
.primary-container-group {
  position: relative;
}
/*74*/
.container {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}
/*80*/
.container.no-padding {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
/*84*/
#container_header {
  height: 80px;
}
/*87*/
#container_hornav {
  position: relative;
  top: 0px;
}
/*104*/
#header {
  position: relative;
  height: 100px;
}
/*109*/
.logo {
  position: absolute;
}
/*112*/
.logo a {
  left: 15px;
  top: 30px;
  display: block;
  position: relative;
  z-index: 20;
}
/*119*/
p.site-slogan {
  color: #b1a5bd;
  font-size: 11px;
  letter-spacing: 8px;
  margin: 0;
  padding: 0;
  right: 15px;
  text-align: right;
  top: 68px;
  position: absolute;
  z-index: 20;
  white-space: nowrap;
}
/*Custom Phai*/
#pagination-center {
  text-align: center;
}


/*135*/
#base {
  background-color: #3c3343;
  overflow: hidden;
  color: #dddddd;
  color: rgba(255, 255, 255, 0.8) !important;
}
/*141*/
#base a {
  color: #eeeeee !important;
  color: rgba(255, 255, 255, 0.8) !important;
}
/*145*/
#base li a {
  text-shadow: none;
  color: #ffffff;
}
/*149*/
#base h3 {
  text-shadow: none;
  color: #ffffff;
  opacity: 0.8;
}
/*155*/
#footermenu {
  background-color: #27212c;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0 0 5px 5px;
}
/*161*/
#footermenu ul {
  margin: 0;
}
/*164*/
#footermenu ul li {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 10px;
  padding-right: 10px;
}
/*169*/
#footermenu ul li:last-child {
  border: none;
}
/*172*/
#footermenu ul li a {
  color: #eeeeee;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}
/*181*/
#copyright {
  font-size: 14px;
  color: #eeeeee;
}
/*185*/
#copyright p {
  padding: 0;
  margin: 0;
  text-align: center;
}

/*213*/
.logo a {
  display: inline !important;
  width: auto !important;
}

/*318*/
.padding-vert-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
/*370*/
.no-padding {
  padding: 0 !important;
}
/*385*/
.margin-top-15 {
  margin-top: 15px;
}

/*391*/
.margin-top-30 {
  margin-top: 30px;
}
/*406*/
.margin-bottom-10 {
  margin-bottom: 10px;
}
/*463*/
.padding-bottom-30 {
  padding-bottom: 30px;
}
/*-----------------------------------------------------------------------------------*/
/* Top Menu - Hornav */
/*-----------------------------------------------------------------------------------*/
.hornav-block {
  background-color: #6e5f7c;
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  /* gradient overlay */
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  /* gradient overlay */
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  /* gradient overlay */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  /* gradient overlay */
  border-radius: 5px 5px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 100px;
  position: relative;
  width: 100%;
}
#hornav ul > li > a:hover,
#hornav ul > li.active > a {
  background-color: #393040;
}
#hornav {
  position: relative;
  padding-top: 0px;
  padding-right: 0px;
}
#hornav > ul {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 5px 0 5px;
  padding: 0 10px 0 12px;
  -moz-box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1) inset;
}
#hornav > ul > li {
  margin: 0px 5px;
  padding: 12px 0;
}
#hornav > ul > li > a,
#hornav > ul > li > span {
  background-color: #473d4f;
  color: #dcd7e0;
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.4em;
  padding: 8px 18px;
  text-decoration: none;
  margin: 0px 0px 0;
  z-index: 1;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -ms-transition-property: background-color;
  transition-property: background-color;
  -moz-box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.1) inset, 1px 0 0 rgba(0, 0, 0, 0.1) inset, 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.1) inset, 1px 0 0 rgba(0, 0, 0, 0.1) inset, 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.1) inset, 1px 0 0 rgba(0, 0, 0, 0.1) inset, 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
  border-radius: 5px;
}
/* Dropdown Menu */
#hornav ul ul {
  background: #F8F8F8;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  display: block;
  list-style: none;
  margin: 0px;
  padding: 5px 0 !important;
  min-width: 200px;
  z-index: 20;
}
#hornav ul ul li {
  min-height: 22px;
  float: none;
  position: relative;
}
#hornav ul ul li a,
#hornav ul ul li span {
  background-color: transparent;
  box-shadow: none;
  display: block;
  padding: 6px 15px;
  color: #555555 !important;
  text-transform: none;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
#hornav ul ul:before {
  background: transparent url('../img/menu_arrow.png') no-repeat 0 0;
  content: "";
  display: block;
  height: 10px;
  left: 26px;
  position: absolute;
  top: -10px;
  width: 14px;
}
#hornav ul ul li:first-child a {
  border: none;
}
#hornav ul ul li a:active,
#hornav ul ul li a:focus,
#hornav ul ul li a:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.05);
}
#hornav ul ul li:hover a {
  text-decoration: none;
}
#hornav ul ul ul:before {
  display: none;
}
#hornav li ul,
#hornav li ul li ul {
  position: absolute;
  height: auto;
  min-width: 200px;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  top: 80px;
  z-index: 1000;
}
#hornav li:hover > ul,
#hornav li ul li:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
  top: 60px;
}
#hornav li ul li ul {
  left: 220px;
  top: 0;
}
#hornav li ul li:hover > ul {
  top: 0px;
  left: 200px;
}
#hornav ul ul .parent:after {
  top: 10px;
  right: 15px;
  color: #777;
  font-size: 14px;
  content: "\f105";
  position: absolute;
  font-weight: normal;
  display: inline-block;
  font-family: FontAwesome;
}
/*-----------------------------------------------------------------------------------*/
/* Mobile Menu */
/*-----------------------------------------------------------------------------------*/
.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.5em 0.7em;
  line-height: 1.125em;
  cursor: pointer;
}
.slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: left;
}
.slicknav_menu .slicknav_icon {
  float: left;
  margin: 0.188em 0 0 0.438em;
}
.slicknav_menu .slicknav_no-text {
  margin: 0;
}
.slicknav_menu .slicknav_icon-bar {
  font-size: 18px;
  display: block;
  width: 1.125em;
  height: 0.125em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.188em;
}
.slicknav_nav {
  clear: both;
}
.slicknav_nav ul,
.slicknav_nav li {
  display: block;
}
.slicknav_nav .slicknav_arrow {
  font-size: 0.8em;
  margin: 0 0 0 0.4em;
}
.slicknav_nav .slicknav_item {
  display: block;
  cursor: pointer;
}
.slicknav_nav a {
  display: block;
}
.slicknav_nav .slicknav_item a {
  display: inline;
}
.slicknav_menu:before,
.slicknav_menu:after {
  content: " ";
  display: table;
}
.slicknav_menu:after {
  clear: both;
}
/* IE6/7 support */
.slicknav_menu {
  *zoom: 1;
}
/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/
.slicknav_menu {
  font-size: 18px;
}
/* Button */
.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
}
/* Button Text */
.slicknav_menu .slicknav_menutxt {
  color: #FFF;
  font-weight: bold;
}
/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: #f5f5f5;
}
.slicknav_menu {
  background: #27212c;
  padding: 5px;
}
.slicknav_nav {
  color: #fff;
  margin: 0;
  padding: 0;
}
.slicknav_nav,
.slicknav_nav ul {
  list-style: none;
  overflow: hidden;
}
.slicknav_nav .slicknav_item {
  padding: 14px;
  margin: 2px 0px;
}
.slicknav_nav a {
  padding: 14px;
  margin: 2px 0px;
  text-decoration: none;
  color: #fff;
}
.slicknav_nav ul {
  padding: 0;
  margin: 0;
}
.slicknav_nav li {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: #ffffff;
}
.slicknav_nav li li {
  background-color: rgba(255, 255, 255, 0.03);
  text-indent: 10px;
}
.slicknav_nav li li li {
  background-color: rgba(255, 255, 255, 0.03);
  text-indent: 20px;
}
.slicknav_nav li li a {
  color: #ffffff;
}
.slicknav_nav .slicknav_item a {
  padding: 0;
  margin: 0;
}
.slicknav_nav a:hover,
.slicknav_nav .slicknav_item:hover,
.slicknav_nav a:focus,
.slicknav_nav .slicknav_item:focus {
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: #ffffff;
}
.slicknav_nav .slicknav_txtnode {
  margin-left: 15px;
}
/*988*/
h2 {
  font-weight: 300;
  line-height: 1em;
  margin: 0 0 10px;
  color: #362e3c;
  font-family: Source Sans Pro;
  font-size: 32px;
}
/*996*/
h3 {
  font-size: 1.7em;
  padding: 0;
  line-height: 32px;
  font-family: Source Sans Pro;
  font-weight: 300;
  margin: 0;
  color: #5c5c5c;
}
/*1017*/
a {
  text-decoration: none;
  -webkit-transition: color 0.15s ease-in;
  -moz-transition: color 0.15s ease-in;
  -o-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
  color: #b59dad;
}
/*1028*/
p {
  margin-bottom: 16px;
}
/*1035*/
img {
  max-width: 100% ;
}
ul.menu {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
ul.menu a {
  color: #777777;
  display: block;
  font-size: 12px;
  letter-spacing: 0;
  padding: 12px 5px;
  text-decoration: none;
  text-transform: uppercase;
}
ul.menu a:hover {
  color: #444 !important;
}
ul.menu li {
  border-bottom: 2px solid rgba(0, 0, 0, 0.06);
  position: relative;
}
ul.menu li:last-child {
  border-bottom: none;
}
ul.menu li li a {
  padding: 4px 30px;
  color: #666 !important;
  border: none;
  padding-left: 25px;
  background: none;
}
ul.menu li li a:hover {
  color: #888;
}
ul.menu ul {
  margin-top: -4px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}
/*-----------------------------------------------------------------------------------*/
/* Font Awesome */
/*-----------------------------------------------------------------------------------*/
[class^="fa-"]:before,
[class*=" fa-"]:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.3);
}
/* Joomla Menus */
.menu li [class^="fa-"]:before,
.menu li [class*=" fa-"]:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.menu li [class^="fa-"]:before,
.menu li [class*=" fa-"]:before {
  color: rgba(0, 0, 0, 0.2);
  font-size: 18px;
  position: absolute;
  top: 13px;
  left: 10px;
}
.menu li a[class^="fa-"],
.menu li a[class*=" fa-"] {
  position: relative;
  padding-left: 37px !important;
}
.menu li a:hover[class^="fa-"]:before,
.menu li a:hover[class*=" fa-"]:before {
  color: rgba(0, 0, 0, 0.1);
}
/* Top Menu Icons */
#hornav .menu li [class^="fa-"]:before,
#hornav .menu li [class*=" fa-"]:before {
  color: rgba(255, 255, 255, 0.2);
  top: 12px;
  left: 12px;
}
/* Header-# Menu Icons */
.header-1 .menu li [class^="fa-"]:before,
.header-1 .menu li [class*=" fa-"]:before,
.header-2 .menu li [class^="fa-"]:before,
.header-2 .menu li [class*=" fa-"]:before {
  color: rgba(0, 0, 0, 0.2);
  top: 1px;
}
/* Base Module Icons */
#base [class^="fa-"]:before,
#base [class*=" fa-"]:before {
  color: rgba(255, 255, 255, 0.2);
}
/* Footer Menu Icons */
#footermenu li [class^="fa-"]:before,
#footermenu li [class*=" fa-"]:before {
  color: rgba(255, 255, 255, 0.2);
  top: 5px;
}
.smOW li [class^="fa-"]:before,
.smOW li [class*=" fa-"]:before {
  color: rgba(0, 0, 0, 0.2);
  top: 9px;
}
.fa-col5 {
  float: left;
  padding: 0 0 10px;
  width: 20%;
}
a.slicknav_item [class^="fa-"]:before,
a.slicknav_item [class*=" fa-"]:before {
  display: none;
}
.menu a.slicknav_item [class^="fa-"],
.menu a.slicknav_item [class*=" fa-"] {
  padding-left: 0 !important;
}
.fa-icon-list {
  text-align: center;
  margin: 30px 0;
}
.fa-icon-list > div {
  min-height: 105px;
}
.fa-icon-list i {
  font-size: 24px;
  background: #fff;
  border: 1px solid #d1d1d1;
  padding: 10px;
  border-radius: 5px;
}
i.fa {
  display: inline-block;
}
i.fa:before {
  padding-right: 0;
}
i.fa.square,
i.fa.circle,
i.fa.rounded {
  width: 26px;
  height: 26px;
  line-height: 26px;
  border-radius: 50%;
}
i.fa.square.icon-lg,
i.fa.circle.icon-lg,
i.fa.rounded.icon-lg {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
i.fa.square.icon-xlg,
i.fa.circle.icon-xlg,
i.fa.rounded.icon-xlg {
  width: 50px;
  height: 50px;
  line-height: 50px;
}
i.fa.square.icon-xxlg,
i.fa.circle.icon-xxlg,
i.fa.rounded.icon-xxlg {
  width: 50px;
  height: 50px;
  line-height: 50px;
}
i.fa.square {
  color: #fff;
  margin-bottom: 5px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
}
i.fa.center {
  width: 100%;
  text-align: center;
}
.fa-border {
  background: none repeat scroll 0 0 #FFFFFF;
  border-color: #d1d1d1 !important;
  border-radius: 5px !important;
  padding: 0.2em 0.35em 0.15em !important;
}
.fa-border:before {
  padding-right: 0;
}
/* Buttons */
.btn [class^="fa-"]:before,
.btn [class*=" fa-"]:before {
  color: #ffffff;
}
.btn-default [class^="fa-"]:before,
.btn-default [class*=" fa-"]:before {
  color: rgba(0, 0, 0, 0.3);
}
/* Labels */
.label [class^="fa-"]:before,
.label [class*=" fa-"]:before {
  color: #ffffff;
}
.label-default [class^="fa-"]:before,
.label-default [class*=" fa-"]:before {
  color: rgba(0, 0, 0, 0.3);
}


/*1153*/
.menu li a[class*=" fa-"] {
  position: relative;
  padding-left: 37px !important;
}
/*1178*/
/* Base Module Icons */
#base [class^="fa-"]:before,
#base [class*=" fa-"]:before {
  color: rgba(255, 255, 255, 0.2);
}


/*1334*/
.gridgallery {
  background: #e8e6eb;
}
/*1337*/
.image-hover {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: center;
  margin-bottom: 30px;
  max-width: 100%;
}
/*1346*/
.image-hover figure {
  margin: 0;
  position: relative;
}
/*1350*/
.image-hover figure img {
  max-width: 100%;
  display: block;
  position: relative;
}
/*1355*/
.image-hover figcaption {
  background: rgba(86, 73, 96, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px 10px;
  text-align: center;
  color: #ffffff;
}
/*1364*/
.image-hover figcaption h3 {
  color: #d1d1d1;
  margin: 0;
  padding: 0 10px 5px;
  font-size: 22px;
  line-height: 1em;
}
/*1371*/
.image-hover figcaption span {
  color: #eeeeee;
  padding: 0 10px;
}
/*1380*/
.portfolio-group {
  width: 100% !important;
}
/*1398*/
.image-hover figure {
  overflow: hidden;
}
/*1401*/
.image-hover figure img {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
/*1413*/
.image-hover figcaption {
  height: 100%;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}
/*1438*/
.portfolio-group .image-hover {
  border: 4px solid #d1d1d1 !important;
}

/*1561*/
.tabs-dark {
  background-color: #3F3647;
  position: relative;
}
/*1565*/
.tabs-dark .nav-tabs {
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0;
  border: none;
}
/*1570*/
.tabs-dark .nav-tabs > li a {
  border-radius: 0;
  border: none;
  padding: 18px 30px;
  color: #FFFFFF;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  outline: none;
}
/*1580*/
.tabs-dark .tab-content {
  padding: 25px;
  color: rgba(255, 255, 255, 0.7);
}
/*1584*/
.tabs-dark .tab-content h3 {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}
/*1590*/
.tabs-dark .nav-tabs > li.active > a,
.tabs-dark .nav-tabs > li.active > a:hover,
.tabs-dark .nav-tabs > li.active > a:focus {
  -moz-border-colors: none;
  background-color: #3F3647 !important;
  border: none;
  color: #FFFFFF;
  cursor: default;
}


}
/*1927*/
ul.social-icons {
  list-style: none;
  margin: 0 0 0px 0;
}
ul.social-icons.rounded a {
  border-radius: 5px !important;
}
ul.social-icons.color .social-facebook a {
  background-color: #3b5998;
}
/*1931*/
ul.social-icons.circle a {
  border-radius: 50% !important;
}
ul.social-icons.color .social-twitter a {
  background-color: #48c4d2;
}
ul.social-icons.color .social-googleplus a {
  background-color: #d94a39;
}
ul.social-icons.color .social-youtube a {
  background-color: #f45750;
}
ul.social-icons.border li a {
  background-position: -2px -2px;
  border: 2px solid #888;
  background-color: transparent !important;
}
ul.social-icons.border li a:hover {
  background-position: -2px -42px !important;
  background-color: #999 !important;
}
ul.social-icons li {
  display: block;
  float: left;
  margin: 0;
  padding: 0 0 0px 0;
}
ul.social-icons li a {
  /*border-radius: 50px;*/
  margin: 5px;
  display: block;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  background-position: 0px -40px;
  background-repeat: no-repeat;
  padding-bottom: 1px;
  opacity: 1;
}
ul.social-icons li a:hover {
  background-position: 0px -40px !important;
  opacity: 1;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -ms-transition-property: background-color;
  transition-property: background-color;
}
.social-facebook a {
  background: url(../img/social_icons/facebook.png);
}
.social-facebook a:hover {
  background-color: #3b5998;
}
.social-twitter a {
  background: url(../img/social_icons/twitter.png);
}
.social-twitter a:hover {
  background-color: #48c4d2;
}
.social-googleplus a {
  background: url(../img/social_icons/googleplus.png);
}
.social-googleplus a:hover {
  background-color: #d94a39;
}
.social-youtube a {
  background: url(../img/social_icons/youtube.png);
}
.social-youtube a:hover {
  background-color: #f45750;
}
[class^="social-"] a,
[class*=" social-"] a {
  background-color: rgba(0, 0, 0, 0.2);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/*-----------------------------------------------------------------------------------*/
/* Carousel */
/*-----------------------------------------------------------------------------------*/
.carousel-control {
  width: 10%;
}
.carousel-indicators {
  bottom: 0;
  right: 30px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: auto;
}
.carousel .item {
  margin: -1px 0 0 0;
}
.carousel .carousel-control.left,
.carousel .carousel-control.right {
  background-image: none;
}
.carousel.alternative {
  margin-bottom: 30px;
  padding: 0 40px 0px 40px;
  margin-top: 30px;
  /* Changes the position of the indicators */
  /* Changes the colour of the indicators */
}
.carousel.alternative img {
  padding: 4px;
  background: #d1d1d1;
  box-shadow: 0 0 1px #b3b3b3;
}
.carousel.alternative .carousel-control.left,
.carousel.alternative .carousel-control.right {
  background-image: none;
}
.carousel.alternative .carousel-control.left span,
.carousel.alternative .carousel-control.right span {
  font-size: 18px;
  background: #b3b3b3;
  border-radius: 50%;
  padding: 5px;
}
.carousel.alternative .carousel-control.left {
  left: -12px;
}
.carousel.alternative .carousel-control.right {
  right: -12px !important;
}
.carousel.alternative .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -35px;
  margin-right: -19px;
}
.carousel.alternative .carousel-indicators li {
  background: #d1d1d1;
}
.carousel.alternative .carousel-indicators .active {
  background: #b3b3b3;
}
